.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

/**** Notes ****/

div.note {
  background-color: rgb(228 240 245);
  margin: 10px 0px 10px 20px;
  width: 800px;
  border: 1px solid;
}

div.note[data-editing="true"] {
  background-color: rgb(241, 215, 142);
}

.note table {
  table-layout: fixed;
}

.note th {
  width: 80px;
  text-align: left;
  padding: 0px 10px;
}

.note table input {
  width: 600px;
}

.note div.buttons {
  text-align: center;
}

.note span.timeInfo {
  display: table;
  margin: 0 auto;
  font-size: 0.75em;
}

/**** Noun Inflection Table ****/

table.noun-inflection-table {
  background-color: #f9f9f9;
  text-align: center;
  width: 29em;
}

table.noun-inflection-table tr th:first-child {
  width: 8em;
}

table.noun-inflection-table tr.header th {
  background-color: #d9ebff;
}

table.noun-inflection-table tr {
  background-color: #eff7ff;
}

table.noun-inflection-table td {
  background-color: #f9f9f9;
}

table.noun-inflection-table td a {
  text-decoration: none;
}

/**** Verb Inflection Table ****/

table.verb-inflection-table {
  background-color: #f9f9f9;
  text-align: center;
  width: 60em;
  border: 1px solid #a2a9b1;
  border-collapse: collapse;
}

table.verb-inflection-table td,
table.verb-inflection-table th {
  border: 1px solid #a2a9b1;
  border-collapse: collapse;
}

table.verb-inflection-table tr.header th {
  background-color: #d9ebff;
}

table.verb-inflection-table tr {
  background-color: #eff7ff;
}

table.verb-inflection-table td {
  background-color: #f9f9f9;
}

table.verb-inflection-table td a {
  text-decoration: none;
}

/**** Examples ****/

div.example-holder button {
  margin: 0px 20px;
}

div.example {
  background-color: rgb(222, 236, 216);
  margin: 10px 0px 10px 20px;
  width: 800px;
  border: 1px solid;
  display: inline-block;
}

div.exampleSelected {
  background-color: rgb(235, 240, 232);
}

div.example p {
  margin: 10px 20px;
}

div.example p.source {
  font-size: 0.75em;
}
