/**** Notes ****/

div.note {
  background-color: rgb(228 240 245);
  margin: 10px 0px 10px 20px;
  width: 800px;
  border: 1px solid;
}

div.note[data-editing="true"] {
  background-color: rgb(241, 215, 142);
}

.note table {
  table-layout: fixed;
}

.note th {
  width: 80px;
  text-align: left;
  padding: 0px 10px;
}

.note table input {
  width: 600px;
}

.note div.buttons {
  text-align: center;
}

.note span.timeInfo {
  display: table;
  margin: 0 auto;
  font-size: 0.75em;
}

/**** Inflection Table ****/

table.inflection-table {
  background-color: #f9f9f9;
  text-align: center;
  width: 29em;
}

table.inflection-table tr th:first-child {
  width: 8em;
}

table.inflection-table tr.header th {
  background-color: #d9ebff;
}

table.inflection-table tr {
  background-color: #eff7ff;
}

table.inflection-table td {
  background-color: #f9f9f9;
}

table.inflection-table td a {
  text-decoration: none;
}
